<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1.jpg</string>
		<key>personId</key>
		<string>P1</string>
		<key>name</key>
		<string>张三</string>
		<key>intro</key>
		<string>我是张三</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.jpg</string>
		<key>personId</key>
		<string>P2</string>
		<key>name</key>
		<string>李四</string>
		<key>intro</key>
		<string>我是李四</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.jpg</string>
		<key>personId</key>
		<string>P2</string>
		<key>name</key>
		<string>王二麻子</string>
		<key>intro</key>
		<string>我是王二麻子</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>4.jpg</string>
		<key>personId</key>
		<string>P3</string>
		<key>name</key>
		<string>王五</string>
		<key>intro</key>
		<string>我是王五</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>4.jpg</string>
		<key>personId</key>
		<string>P4</string>
		<key>name</key>
		<string>李六</string>
		<key>intro</key>
		<string>我是李六</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>5.jpg</string>
		<key>personId</key>
		<string>P5</string>
		<key>name</key>
		<string>罗马里奥</string>
		<key>intro</key>
		<string>我是罗马里奥</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>6.jpg</string>
		<key>personId</key>
		<string>P6</string>
		<key>name</key>
		<string>王强</string>
		<key>intro</key>
		<string>我是王强</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>7.jpg</string>
		<key>personId</key>
		<string>P7</string>
		<key>name</key>
		<string>郑成功</string>
		<key>intro</key>
		<string>我是郑成功</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>8.jpg</string>
		<key>personId</key>
		<string>P8</string>
		<key>name</key>
		<string>卡卡</string>
		<key>intro</key>
		<string>我是卡卡</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>9.jpg</string>
		<key>personId</key>
		<string>P9</string>
		<key>name</key>
		<string>罗纳尔多</string>
		<key>intro</key>
		<string>我是罗纳尔多</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10.jpg</string>
		<key>personId</key>
		<string>P10</string>
		<key>name</key>
		<string>梅西</string>
		<key>intro</key>
		<string>我是梅西</string>
	</dict>
</array>
</plist>
